<div class="home-wrapper">
  <div class="mat-card-wrapper">
    <mat-card>
      <h1>Welcome to Super Hero Comparator!</h1>
      <section>
        <p>
          This application is based on already existing API -
          <a href="https://superheroapi.com/index.html" target="_blank">https://superheroapi.com</a>
        </p>
        <p>You can search for heroes and view interesting details about them or their enemies. Choose your favourite hero and join the battle.</p>
      </section>
    </mat-card>
  </div>
</div>
