<div class="auth-wrapper">
  <mat-card>
    <h1>Super Hero Comparator</h1>
    <h4>Please log in</h4>

    <form class="login-form" [formGroup]="loginForm" (submit)="login()">
      <mat-form-field class="access-token">
        <mat-label>Access Token</mat-label>
        <input matInput placeholder="e.g. 123123123" formControlName="accessToken" />
      </mat-form-field>
      <button mat-raised-button color="primary" class="log-in-btn" [disabled]="!loginForm.valid">Log in</button>
      <a mat-button target="_blank" href="https://superheroapi.com" class="access-btn">Get Access Token</a>
    </form>
  </mat-card>
</div>
