.auth-wrapper {
  display: flex;
  min-height: 100%;
  mat-card {
    margin: auto;
    padding: 3em 5em;
    text-align: center;
    h1 {
      margin: 0 0 10px;
      font-size: 2.5em;
    }
    .login-form {
      margin-top: 30px;
      .access-token {
      }
      .log-in-btn {
        line-height: 2em;
        margin-left: 10px;
      }
      .access-btn {
        display: block;
        max-width: 10em;
        margin: auto;
        text-decoration: none;
      }
    }
  }
}
